@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contenedor {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    margin-top: 70px;
    background-color: #5d58f7;
    color: white;
    margin: auto;
    margin-top: 70px;
    
}

button {
    outline: none
}

.contenedor > h1 {
    font-size: 20px;
    margin: 10px;
    font-weight: 300;
}

#ganador {
    color: rgb(253, 10, 10),
}

#tombola-minuta:active {
    background-color: rgb(42, 3, 185);
    border: none;
    border-style: none;
  }

#fecha {
   display: flex;
   flex-direction: wrap;
   justify-content: space-around;
   align-items: center;
   width: 180px;
}

.resultado {
    width: 300px;
    height: 80px;
    background-color: rgb(240, 239, 239);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(128, 128, 128);
}

.nombre-ganador {
    font-size: 20px;
    color: black;
}


#tombola-minuta {
    width: 80px;
    height: 40px;
    background-color: rgb(255, 154, 21);
    margin: 10px;
    border-style: none;
    border-radius: 10px;
    color: rgb(245, 241, 241);
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}
